body{
  text-align: center;
}
.productcontainer{
  display: flex;
  flex-wrap: wrap;
  
}
.productcontainer > :link{
  align-items: center;
 
  width: 350px;
  box-shadow: 0 0 10px #464646;
  margin: 10px;
}
.productcontainer > :link{
  background-color: lightgray;
}